/* #region Accordion */
[u-accordions] {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-base-400);
}

[u-accordion] {
  border-bottom: 1px solid var(--color-base-400);
}

[u-accordion-header] {
  padding: var(--size-sm) var(--size-md);
  font-size: calc(var(--size-lg) * 0.8);
  line-height: var(--size-lg);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
[u-accordion-header="open"] {
  font-weight: bold;
}

[u-accordion-content] {
  display: none;
}

[u-accordion-content-open] {
  display: block;
}

[u-accordion-body] {
  padding: var(--size-md);
}

/* #endregion */
