/* #region Accordion */
[u-accordions] {
  --accordion-border-color: var(--color-base-400);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accordion-border-color);
}

[u-accordion] {
  border-bottom: 1px solid var(--accordion-border-color);
}

[u-accordion-header] {
  padding: var(--size-xs) var(--size-md);
  font-size: calc(var(--size-md) * 0.8);
  line-height: var(--size-md);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  background: transparent;
}

[u-accordion-header-open] {
  font-weight: bold;
}

[u-accordion-content] {
  display: none;
}

[u-accordion-content-open] {
  display: block;
}

[u-accordion-body] {
  padding: var(--size-md);
}

/* #endregion */
