[u-avatar] {
  display: inline-flex;
  width: calc(3 * var(--avatar-size));
  height: calc(3 * var(--avatar-size));
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-base-100);
  font-size: var(--avatar-size);
  text-transform: uppercase;
  background-color: var(--avatar-bg);
}

[u-avatar-image] {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

@include size-variants(avatar) using($size) {
  --avatar-size: #{var(--size-#{$size})};
}

@include color-variants(avatar) using($color) {
  --avatar-bg: #{var(--color-#{$color}-500)};
}

[u-avatar-color="dark"] {
  --avatar-bg: var(--color-dark-300);
}
[u-avatar-color="light"] {
  --avatar-bg: var(--color-light-300);
}
