/* #region Breadcrumb */

[u-breadcrumb] {
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-xs) var(--size-md);
  margin-bottom: var(--size-md);
  list-style: none;
  background-color: var(--color-base-100);
  border-radius: var(--size-xxs);
}

[u-breadcrumb-item]::before {
  display: inline-block;
  padding-right: var(--size-xxs);
  padding-left: var(--size-xxs);
  color: var(--color-secondary-600);
  content: "/";
}

[u-breadcrumb-item] {
  display: flex;
  color: var(--color-primary-400);
  text-decoration: none;
}

[u-breadcrumb-item-active] {
  color: var(--color-error-400);
}

[u-breadcrumb-item-disabled] {
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}

/* #endregion */
