/* #region Button */
[u-button] {
  --button-bg: var(--color-base-200);
  --button-hover: var(--color-base-400);
  --button-active: var(--color-base-100);
  --button-content: var(--color-base-900);
  --button-size: var(--size-md);

  transition: all 0.2s ease;

  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  gap: var(--button-size);
  padding: var(--size-xxs) calc(var(--button-size) / 2 + var(--size-xxs));
  font-size: calc(var(--button-size) * 0.8);
  line-height: var(--button-size);
  border-radius: calc(var(--button-size) / 8);

  background-color: var(--button-bg);
  color: var(--button-content);
  border: 1px solid var(--button-hover);
}

[u-button]:hover {
  z-index: 1;
  background-color: var(--button-hover);
  box-shadow: 0 0 2px var(--color-dark-100);
}

[u-button]:active {
  background-color: var(--button-active);
  box-shadow: 0 0 4px var(--color-dark-100);
}

[u-button-link] {
  background-color: transparent;
  color: var(--color-base-900);
  border-color: transparent;
}

[u-button-link]:hover {
  background-color: transparent;
  border-color: transparent;
  opacity: 0.7;
  color: var(--color-base-900);
}
[u-button-link]:active {
  opacity: 0.5;
  border-color: transparent;
  box-shadow: none;
}

@include size-variants(button) using($size) {
  --button-size: #{var(--size-#{$size})};
}

@include color-variants(button) using($color) {
  --button-bg: #{var(--color-#{$color}-500)};
  --button-hover: #{var(--color-#{$color}-600)};
  --button-active: #{var(--color-#{$color}-400)};
  --button-content: #{var(--color-#{$color}-content)};
}

[u-button-color="dark"] {
  --button-bg: var(--color-dark-200);
  --button-hover: var(--color-dark-300);
  --button-active: var(--color-dark-100);
  --button-content: var(--color-dark-900);
}
[u-button-color="light"] {
  --button-bg: var(--color-light-300);
  --button-hover: var(--color-light-400);
  --button-active: var(--color-light-200);
  --button-content: var(--color-light-900);
}

[u-button-group] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xxs);
}

[u-button-group-compact] {
  gap: 0;
}

[u-button] > [u-icon] {
  --icon-size: var(--button-size);
  margin-left: calc(var(--icon-size) / -2);
  margin-right: calc(var(--icon-size) / -2);
}
/* #endregion */
