[u-button] {
  --button-bg: var(--color-base-200);
  --button-hover: var(--color-base-300);
  --button-shadow: var(--color-primary-200);
  --button-active: var(--color-base-500);
  --button-content: var(--color-base-900);
  --button-border: var(--color-base-400);
  --button-size: var(--size-md);

  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--button-hover);
  cursor: pointer;
  gap: calc(var(--button-size) / 1);
  padding-left: var(--button-size);
  padding-right: var(--button-size);

  height: calc(var(--button-size) * 2);

  font-size: calc(var(--button-size) * 0.8);
  line-height: var(--button-size);
  border-radius: calc(var(--button-size) / 8);

  background-color: var(--button-bg);
  color: var(--button-content);
  border: 1px solid var(--button-border);
}

[u-button]:disabled, [u-button-disabled] {
  opacity: 0.7;
  pointer-events: none;
}

[u-button]:hover {
  background-color: var(--button-hover);
}

[u-button]:focus {
  --button-border: var(var(--button-shadow));
  z-index: 1;
  outline: none;

  background-color: var(--button-hover);
  box-shadow: 0 0  4px var(--button-shadow);
}

[u-button]:active {
  background-color: var(--button-active);
  box-shadow: 0 0 4px 2px var(--button-shadow);
}

[u-button-link] {
  filter: drop-shadow(red); 
  background-color: transparent;
  color: var(--button-bg);
  border-color: transparent;
}

[u-button-link]:not([u-button-color]) {
  --button-bg: var(--color-base-800);
  --button-hover: var(--color-base-900);
  --button-active: var(--color-base-900);
}

[u-button-link]:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  color: var(--button-hover);
}

[u-button-link]:hover {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-hover);

}

[u-button-link]:active {
  border-color: transparent;
  box-shadow: none;
  color: var(--button-active);

}

@include size-variants(button) using($size) {
  --button-size: #{var(--size-#{$size})};
}

@include color-variants(button) using($color) {
  --button-bg: #{var(--color-#{$color}-500)};
  --button-hover: #{var(--color-#{$color}-600)};
  --button-active: #{var(--color-#{$color}-700)};
  --button-content: #{var(--color-#{$color}-900)};

  --button-shadow: var(--color-#{$color}-200);
}
[u-button-active] {
  --button-bg: var(--button-hover);
}

[u-button-group] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xxs);
  border-radius: var(--size-xxs);
  overflow: hidden;

  [u-button] {
    border: none;
    border-radius: 0;
  }
}

[u-button-group-compact] {
  gap: 0;
}

[u-button] > [u-icon] {
  --icon-size: var(--button-size);
  margin-left: calc(var(--button-size) / -2);
  margin-right: calc(var(--button-size) / -2);
}