/* #region Card */
[u-card] {
  --card-border-color: var(--color-base-300);

  border: 1px solid var(--card-border-color);
  border-radius: var(--size-xxs);
  background-color: var(--color-base-100);
  overflow: hidden;
  width: 100%;
}

.dark [u-card] {
  background-color: var(--color-base-200);
  border-color: var(--card-border-color);
}

[u-card-body] {
  padding: var(--size-md);
}

[u-card-header] {
  padding: var(--size-xs) var(--size-md);
  border-bottom: 1px solid var(--card-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: var(--size-xxs);
  border-top-left-radius: var(--size-xxs);
}

[u-card-footer] {
  padding: var(--size-xs) var(--size-md);
  background-color: var(--color-base-200);
  border-top: 1px solid var(--card-border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: var(--size-xxs);
  border-bottom-left-radius: var(--size-xxs);
}

[u-card-title] {
  font-size: calc(var(--size-lg) * 0.8);
  line-height: var(--size-lg);
}

[u-card-actions] {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}
/* #endregion */
