/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | https://dbushell.com/
 */
@import "https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css";


//u-builder customization style
.u-datepicker-theme,
.pika-prev,
.pika-next {
    border: 1px solid var(--color-base-400);
    border-radius: calc(var(--size-xxs) / 2);
    color: var(--color-base-900);
    background-color: var(--color-base-100) !important;
}

.pika-label,
.pika-title,
.pika-day {
    color: var(--color-base-900);
    background-color: var(--color-base-100) !important;

}

.pika-button:hover,
.is-selected .pika-button,
.has-event .pika-button {
    color: var(--color-base-900);
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
    border: 1px solid var(--color-base-300);
}