/* #region divider */
@include color-variants(divider) using ($color) {
  --divider-bg: #{var(--color-#{$color}-500)};
}

[u-divider-color="dark"] {
  --divider-bg: var(--color-dark-300);
}
[u-divider-color="light"] {
  --divider-bg: var(--color-light-300);
}

[u-divider] {
  border-bottom: 1px solid var(--divider-bg);
  height: 0px;
  margin: var(--size-xs) 0;
}

/* #endregion */
