[u-dropdown]{
    --dropdown-border-radious: calc(var(--size-xxs)*0.8);
    --dropdown-shadow: calc(var(--size-xxs) * 0.7);
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
}

[u-dropdown-panel]{
    position: absolute;
    top: 100%;
    z-index: 1;
    // left: 0px;
    // top: 0px;
    // margin-top: var(--size-lg);
    // display: flex;
    flex-direction: column;
    padding: 0px;
    box-shadow:  0 0.5rem 1rem rgba(0,0,0,.15);
    border: 1px solid var(--color-base-400);
    overflow: hidden;  
    border-radius: var(--dropdown-border-radious);
}


[u-dropdown-item]{
    padding: var(--size-xs) var(--size-md) var(--size-xs) var(--size-xs);
    background-color: var(--color-base-100);
    color: var(--color-base-800);
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    font-size: var(--size-sm);
    border: none;
    display: flex;
    gap: var(--size-xxs);
    align-items: center;
    flex-grow: 1;
    width: 100%;
} 

[u-dropdown-item]:hover{
    background-color: var(--color-base-200);
}

[u-dropdown-panel], [u-arrow-down], [u-arrow-up]{
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-in;
}
[u-dropdown-arrow] >*{
    padding-left: 30px;
}
[u-dropdown-arrow] >*:after{
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-75%);
    z-index: 100;
    right: var(--size-sm);
    content: '';
    width: 8px;
    height: 8px;
    border-right: 2px solid var(--color-base-500);
    border-bottom: 2px solid var(--color-base-500);
    border-radius: 0.5px;
    
}