[u-form-field-label] {
  font-size: calc(var(--size-md) * 0.8);
  font-weight: bold;
  line-height: var(--size-md);
  display: block;
  margin-bottom: var(--size-xxs);
  color: var(--color-base-900);
}

[u-form-field] {
  margin-bottom: var(--size-xs);
}

[u-checkbox-input] {
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-400);
  accent-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  border-radius: var(--size-xxs);
  margin-right: var(--size-xs);
}

[u-checkbox-text] {
  position: relative;
  display: inline-flex;
  align-items: center;
  // padding-left: 2rem;
}

[u-checkbox-text]::before {
  content: '';

  background-color: var(--color-base-100);
  transition: all 0.3s ease;
  margin-right: var(--size-xs);
  border-radius: var(--size-xxs);
  width: var(--size-sm);
  height: var(--size-sm);
  border: 1px solid var(--color-base-700);
}


[u-checkbox-input]:focus ~ [u-checkbox-text]::before {

  box-shadow: 0 0 0 3px var(--color-primary-200);
}

[u-checkbox-text]::after {
  content: '';
  display: none;
  position: absolute;
}

[u-checkbox-input]:checked ~ [u-checkbox-text]::after {
  display: block;
}

[u-checkbox-text]::after {
  left: 6px;
  top: 4px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

[u-checkbox-input]:checked ~ [u-checkbox-text]:before {
  content: '';
  background-color: var(--color-primary-500);

}


[u-checkbox-group-item-input] {
  @extend [u-checkbox-input];
}

[u-checkbox-group-item-text] {
  @extend [u-checkbox-text];
}

[u-checkbox] {
  display: block;
  margin-bottom: var(--size-xxs);
  margin-right: var(--size-sm);
}

[u-checkbox-inline] {
  display: inline-block;
  margin-right: var(--size-sm);
}



[u-checkbox-group] {
  display: flex;
  flex-direction: column;
}

[u-checkbox-group-inline] {
  flex-direction: row;
}

[u-checkbox-group-item] {
  @extend [u-checkbox];
  display: inline-flex;
  align-items: center;

  //   margin-bottom: var(--size-md);
}



// radio

[u-radio-input] {
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-400);
  accent-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  border-radius: var(--size-sm);
  margin-right: var(--size-xs);
}

[u-radio-text] {
  position: relative;
  display: inline-flex;
  align-items: center;
  // padding-left: 2rem;
}

[u-radio-text]::before {
  content: '';

  background-color: var(--color-base-100);
  transition: all 0.3s ease;
  margin-right: var(--size-xs);
  border-radius: var(--size-xs);
  width: var(--size-sm);
  height: var(--size-sm);
  border: 1px solid var(--color-base-700);
}


[u-radio-input]:focus ~ [u-radio-text]::before {

  box-shadow: 0 0 0 3px var(--color-primary-200);
}

[u-radio-text]::after {
  content: '';
  display: none;
  position: absolute;
}

[u-radio-input]:checked ~ [u-radio-text]::after {
  display: block;
}

[u-radio-text]::after {
  left: 6px;
  top: 8px;
  width: 8px;
  height: 8px;
  // border: solid white;

  border-radius: 50%;
  // transform: rotate(45deg);
  background-color: var(--color-base-200);
}

[u-radio-input]:checked ~ [u-radio-text]:before {
  content: '';
  background-color: var(--color-primary-500);

}


[u-radio-group-item-input] {
  @extend [u-radio-input];
}

[u-radio-group-item-text] {
  @extend [u-radio-text];
}


[u-radio-group-item] {

  display: inline-flex;
  align-items: center;

  margin-bottom: var(--size-xxs);
  margin-right: var(--size-sm);
}

[u-radio-inline] {
  display: inline-block;
  margin-right: var(--size-sm);
}



[u-radio-group] {
  display: flex;
  flex-direction: column;
}

[u-radio-group-inline] {
  flex-direction: row;
}



[u-radio-group-input] {
  //   margin-bottom: var(--size-md);

}

// input



[u-input] {

  transition: all 0.3s ease;
  background-color: var(--color-base-200);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--color-base-300);
  border-radius: calc(var(--size-xxs) / 2);
  color: var(--color-base-900);

  font-size: calc(var(--size-lg) * 0.6);
  line-height: var(--size-lg);

  width: 100%;
}
[u-input-size-lg] {
  --input-size: var(--size-lg);
}

[u-input]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 0px 4px var(--color-primary-200);
}

// Select


[u-select] {

  transition: all 0.3s ease;
  background-color: var(--color-base-200);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--color-base-300);
  border-radius: calc(var(--size-xxs) / 2);
  color: var(--color-base-900);

  font-size: calc(var(--size-lg) * 0.6);
  line-height: var(--size-lg);

  width: 100%;
}

[u-select][multiple] {
  padding: 0;

  option {
    font-size: calc(var(--size-lg) * 0.6);
    line-height: var(--size-lg);
    padding: var(--size-xxs);
  }
}

[u-select]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 0px 4px var(--color-primary-200);

}

// Textarea


[u-textarea] {
  transition: all 0.3s ease;
  width: 100%;
  background-color: var(--color-base-100);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--color-base-300);
  border-radius: calc(var(--size-xxs) / 2);
  color: var(--color-base-900);

  font-size: calc(var(--size-md) * 0.6);
  line-height: var(--size-md);

  width: 100%;
}


[u-textarea]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 0px 4px var(--color-primary-200);
}