[u-form-field-label] {
  font-size: calc(var(--size-md) * 0.8);
  font-weight: bold;
  line-height: var(--size-md);
  display: block;
  margin-bottom: var(--size-xxs);
  color: var(--color-base-900);
}

[u-form-field] {
  margin-bottom: var(--size-sm);
}

[u-checkbox-input] {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: var(--size-xxs);
  margin-right: var(--size-xs);
}


[u-checkbox-group-item-input] {
  @extend [u-checkbox-input];
}

// [u-checkbox-group-text] {
  // @extend [u-checkbox-text];
// }

[u-checkbox] {
  display: block;
  margin-bottom: var(--size-xxs);
  margin-right: var(--size-sm);
}

[u-checkbox-inline] {
  display: inline-block;
  margin-right: var(--size-sm);
}

[u-checkbox-group-wrapper] {
  @extend [u-form-field];
}

[u-checkbox-group-label] {
  @extend [u-form-field-label];
}

[u-checkbox-group] {
  display: flex;
  flex-direction: column;
}

[u-checkbox-group-inline] {
  flex-direction: row;
}

[u-checkbox-group-item] {
  @extend [u-checkbox];
  display: inline-flex;
  align-items: center;

  //   margin-bottom: var(--size-md);
}

// radio
[u-radio-group-item-input] {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-primary);
  margin-right: var(--size-xxs);
}

[u-radio-group-item] {

  display: inline-flex;
  align-items: center;

  margin-bottom: var(--size-xxs);
  margin-right: var(--size-sm);
}

[u-radio-inline] {
  display: inline-block;
  margin-right: var(--size-sm);
}

[u-radio-group-wrapper] {
  @extend [u-form-field];
}


[u-radio-group] {
  display: flex;
  flex-direction: column;
}

[u-radio-group-inline] {
  flex-direction: row;
}


[u-radio-group-label] {
  @extend [u-form-field-label];
}

[u-radio-group-input] {
  //   margin-bottom: var(--size-md);

}

// input

[u-input-wrapper] {
  @extend [u-form-field];
}

[u-input-label] {
  @extend [u-form-field-label];
}

[u-input] {
  background-color: var(--color-base-100);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--color-base-300);
  border-radius: calc(var(--size-xxs) / 2);
  color: var(--color-base-900);

  font-size: calc(var(--size-lg) * 0.6);
  line-height: var(--size-lg);

  width: 100%;
}
[u-input-size-lg] {
  --input-size: var(--size-lg);
}

.dark [u-input] {
  background-color: var(--color-base-300);
  border-color: var(--color-base-400);
}

[u-input]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 4px 0px var(--color-primary-500);
}

// Select
[u-select-wrapper] {
  @extend [u-form-field];
}

[u-select-label] {
  @extend [u-form-field-label];
}

[u-select] {
  background-color: var(--color-base-100);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--color-base-300);
  border-radius: calc(var(--size-xxs) / 2);
  color: var(--color-base-900);

  font-size: calc(var(--size-lg) * 0.6);
  line-height: var(--size-lg);

  width: 100%;
}

[u-select][multiple] {
  padding: 0;

  option {
    font-size: calc(var(--size-lg) * 0.6);
    line-height: var(--size-lg);
    padding: var(--size-xxs);
  }
}

.dark [u-select] {
  background-color: var(--color-base-300);
  border-color: var(--color-base-400);
}

[u-select]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 4px 0px var(--color-primary-500);
}
// Textarea
[u-textarea-wrapper] {
  @extend [u-form-field];
}

[u-textarea-label] {
  @extend [u-form-field-label];
}

[u-textarea] {
  width: 100%;
  background-color: var(--color-base-100);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--color-base-300);
  border-radius: calc(var(--size-xxs) / 2);
  color: var(--color-base-900);

  font-size: calc(var(--size-md) * 0.6);
  line-height: var(--size-md);

  width: 100%;
}

.dark [u-textarea] {
  background-color: var(--color-base-300);
  border-color: var(--color-base-400);
}

[u-textarea]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 4px 0px var(--color-primary-500);
}