[u-form-field-label] {
  font-size: calc(var(--size-md) * 0.8);
  font-weight: bold;
  line-height: var(--size-md);
  display: block;
  margin-bottom: var(--size-xxs);
}

[u-form-field] {
  margin-bottom: var(--size-sm);
}

[u-checkbox-input] {
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--color-primary);
  border-radius: var(--size-xxs);
  margin-right: var(--size-xxs);
}

[u-checkbox] {
  display: block;
  margin-bottom: var(--size-xxs);
}

[u-checkbox-inline] {
  display: inline-block;
  margin-right: var(--size-sm);
}

[u-checkbox-group-wrapper] {
  @extend [u-form-field];
}

[u-checkbox-group-wrapper-label] {
  @extend [u-form-field-label];
}

[u-checkbox-group] {
  //   margin-bottom: var(--size-md);
}

// input

[u-input-wrapper] {
  @extend [u-form-field];
  // display: flex;
  // flex-direction: column;
  // width: 100%;
  // gap: var(--size-xxs);
  // margin-bottom: var(--size-sm);
}

[u-input-wrapper-label] {
  @extend [u-form-field-label];
}

[u-input] {
  border: none;
  background-color: var(--color-base-100);
  padding: var(--size-xs) var(--size-sm);
  box-shadow: 0 0 1px var(--color-base-content);
  color: var(--color-base-content);
  width: 100%;
}

[u-input]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 0px 1px var(--color-primary-600);
}
