[u-form-field-label] {
  font-size: calc(var(--size-md) * 0.8);
  line-height: var(--size-md);
  font-weight: bold;
  display: block;
  margin-bottom: var(--size-xxs);
  color: var(--color-base-900);
}

[u-form-field-description] {
  font-size: calc(var(--size-sm) * 0.8);
  line-height: var(--size-sm);
  display: block;
  margin-bottom: var(--size-xxs);
  margin-top: calc(var(--size-xxs) * -1);
  opacity: 0.8;
}

[u-form-field-input] {
  --form-field-size: var(--size-md);

  background-color: var(--color-base-200);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--color-base-300);
  border-radius: calc(var(--size-xxs) / 2);
  color: var(--color-base-900);

  font-size: calc(var(--form-field-size) * 0.8);
  line-height: var(--form-field-size);
  height: calc(var(--form-field-size) * 2);

  width: 100%;
}

[u-form-field-input][disabled] {
  opacity: 0.8;
}


[u-form-field-focus] {
  border: 1px solid var(--color-primary-300);
  outline: none;
  box-shadow: 0 0 0px 4px var(--color-primary-100);
}



// [u-form-field] {
//   margin-bottom: var(--size-xs);
// }

[u-checkbox-input] {
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-400);
  accent-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  border-radius: var(--size-xxs);
  margin-right: var(--size-xs);
}

[u-checkbox-text] {
  position: relative;
  display: inline-flex;
  align-items: center;
  // padding-left: 2rem;
}

[u-checkbox-text]::before {
  content: '';

  background-color: var(--color-base-100);
  
  margin-right: var(--size-xs);
  border-radius: var(--size-xxs);
  width: var(--size-sm);
  height: var(--size-sm);
  border: 1px solid var(--color-primary-200);
}


[u-checkbox-input]:focus ~ [u-checkbox-text]::before {
  @extend [u-form-field-focus];
}

[u-checkbox-text]::after {
  content: '';
  display: none;
  position: absolute;
}

[u-checkbox-input]:checked ~ [u-checkbox-text]::after {
  display: block;
}

[u-checkbox-text]::after {
  left: 4px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

[u-checkbox-input]:checked ~ [u-checkbox-text]:before {
  content: '';
  background-color: var(--color-primary-500);

}

// Switch

[u-switch-input] {
  position: absolute;
  width: 0;
  height: 0;
  margin-right: var(--size-xs);
}


/* The switch - the box around the slider */
[u-switch] {
  --switch-size: var(--size-md);
  --switch-knob-size: calc(var(--switch-size) - var(--size-xxs));

  position: relative;
  display: inline-block;
  width: calc(var(--switch-size) * 2);
  height: var(--switch-size);
}

/* The slider */
[u-switch-text] {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-base-400);
  transition: .3s;
}

// The switch button
[u-switch-text]:before {
  position: absolute;
  content: "";
  height: var(--switch-knob-size);
  width: var(--switch-knob-size);
  left: calc(var(--size-xxs) / 2);
  bottom: calc(var(--size-xxs) / 2);

  background-color: var(--color-light-200);
  transition: .3s;
}
[u-view-theme="dark"] [u-switch-text]::before {
  background-color: var(--color-light-400);
}


[u-switch-input]:checked + [u-switch-text] {
  background-color: var(--color-primary-500);
}
[u-switch-input]:checked + [u-switch-text]::before {
  background-color: var(--color-primary-800);
}

[u-switch-input]:focus + [u-switch-text] {
  @extend [u-form-field-focus];
  border: none;
}

[u-switch-input]:checked + [u-switch-text]:before {
  transform: translateX(var(--switch-size));
}

/* Rounded sliders */
[u-switch-text] {
  border-radius: var(--switch-size);
}

[u-switch-text]:before {
  border-radius: 50%;
}


// Checkbox Group
[u-checkbox-group-item-input] {
  @extend [u-checkbox-input];
}

[u-checkbox-group-item-text] {
  @extend [u-checkbox-text];
}

[u-checkbox] {
  display: block;
  margin-bottom: var(--size-xxs);
  margin-right: var(--size-sm);
}

[u-checkbox-group] {
  display: flex;
  flex-direction: column;
}

[u-checkbox-group-inline] {
  flex-direction: row;
}

[u-checkbox-group-item] {
  @extend [u-checkbox];
  display: inline-flex;
  align-items: center;

  //   margin-bottom: var(--size-md);
}



// radio

[u-radio-input] {
  position: absolute;
  width: 0;
  height: 0;
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-400);
  accent-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  border-radius: var(--size-sm);
  margin-right: var(--size-xs);
}

[u-radio-text] {
  position: relative;
  display: inline-flex;
  align-items: center;
  // padding-left: 2rem;
}

[u-radio-text]::before {
  content: '';

  background-color: var(--color-base-100);
  
  margin-right: var(--size-xs);
  border-radius: var(--size-xs);
  width: var(--size-sm);
  height: var(--size-sm);
  border: 1px solid var(--color-primary-200);
}


[u-radio-input]:focus ~ [u-radio-text]::before {
  @extend [u-form-field-focus];

}

[u-radio-text]::after {
  content: '';
  display: none;
  position: absolute;
}

[u-radio-input]:checked ~ [u-radio-text]::after {
  display: block;
}

[u-radio-text]::after {
  left: 6px;
  top: 8px;
  width: 8px;
  height: 8px;
  // border: solid white;

  border-radius: 50%;
  // transform: rotate(45deg);
  background-color: var(--color-base-200);
}

[u-radio-input]:checked ~ [u-radio-text]:before {
  content: '';
  background-color: var(--color-primary-500);

}


[u-radio-group-item-input] {
  @extend [u-radio-input];
}

[u-radio-group-item-text] {
  @extend [u-radio-text];
}


[u-radio-group-item] {

  display: inline-flex;
  align-items: center;

  margin-bottom: var(--size-xxs);
  margin-right: var(--size-sm);
}

[u-radio-group] {
  display: flex;
  flex-direction: column;
}

[u-radio-group-inline] {
  flex-direction: row;
}

// input

[u-input] {
  @extend [u-form-field-input]
}
[u-input-size-lg] {
  --form-field-size: var(--size-lg);
}

[u-input]:focus {
  @extend [u-form-field-focus];
}


// Select


[u-select] {
  @extend [u-form-field-input];

}
[u-select-size="lg"] {
  --input-size: var(--size-lg);
}

[u-select][multiple] {
  padding: 0;
  min-height: calc(var(--form-field-size) * 2);
  height: auto;

  option {
    font-size: calc(var(--size-lg) * 0.6);
    line-height: var(--size-lg);
    padding: var(--size-xxs);
  }
}

[u-select]:focus {
  @extend [u-form-field-focus];  
}

@import "../../../node_modules/tom-select/src/scss/tom-select.scss";

select[u-autocomplete] {
  width: 0;
  height: 0;
  position: absolute;
}

[u-autocomplete] {
  @extend [u-form-field-input];
  min-height: calc(2 * var(--form-field-size));
  height: auto;
  align-items: center;
}

[u-autocomplete-item] {
  border-radius: calc(var(--size-xxs) / 2);
  background: var(--color-base-400);
  color: var(--color-base-900);
  padding: 0 var(--size-xxs);
  border: 1px solid var(--color-base-400);
}

[u-autocomplete-dropdown] {
  color: var(--color-base-800);
  border: 1px solid var(--color-base-400);
  background: var(--color-base-200);
}
[u-autocomplete-dropdown-item-active] {
  background-color: var(--color-base-300);
  color: var(--color-base-900);
}

.ts-wrapper.full .ts-control, .ts-wrapper.single.input-active .ts-control {
  background-color: var(--color-base-200);
}

// Autocomplete
.ts-wrapper .ts-control {
  @extend [u-autocomplete];
}

.ts-wrapper.focus .ts-control {
  @extend [u-form-field-focus];
}

.ts-wrapper.multi .ts-control > div {
  @extend [u-autocomplete-item];
}

.ts-dropdown {
  @extend [u-autocomplete-dropdown];
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ts-dropdown .active {
  @extend [u-autocomplete-dropdown-item-active];
}

// Textarea


[u-textarea] {
  
  @extend [u-form-field-input];
  height: auto;
}


[u-textarea]:focus {
  @extend [u-form-field-focus];
}


// Code editor


[u-code-editor] {
  @extend [u-form-field-input];
    --code-editor-height: var(--size-md);
    min-height: calc(var(--code-editor-height) * 10);
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  @include font-size(lg);
  background-color: var(--color-base-200) !important;
}
[u-code-editor-textarea] {
  height: 0;
  width: 0;
  position: absolute;
  border: none;
  z-index: -1;
}

@import "../../../node_modules/highlight.js/scss/atom-one-light.scss";

[u-view-theme="dark"] {
  @import "../../../node_modules/highlight.js/scss/atom-one-dark.scss";
}

[u-code-editor]:focus-within {
  @extend [u-form-field-focus];
}
