// Container
[u-container] {
  --container-size: 100%;
  width: 100%;
  max-width: var(--container-size);
  padding-left: var(--size-md);
  padding-right: var(--size-md);
}

@include breakpoint("xs") {
  [u-container-size="xs"] {
    --container-size: var(--size-container-xs);
  }
  [u-container-size="sm"] {
    --container-size: var(--size-container-xs);
  }
  [u-container-size="md"] {
    --container-size: var(--size-container-xs);
  }
  [u-container-size="lg"] {
    --container-size: var(--size-container-xs);
  }
  [u-container-size="xl"] {
    --container-size: var(--size-container-xs);
  }
}

@include breakpoint("sm") {
  [u-container-size="sm"] {
    --container-size: var(--size-container-sm);
  }
  [u-container-size="md"] {
    --container-size: var(--size-container-sm);
  }
  [u-container-size="lg"] {
    --container-size: var(--size-container-sm);
  }
  [u-container-size="xl"] {
    --container-size: var(--size-container-sm);
  }
}

@include breakpoint("md") {
  [u-container-size="md"] {
    --container-size: var(--size-container-md);
  }
  [u-container-size="lg"] {
    --container-size: var(--size-container-md);
  }
  [u-container-size="xl"] {
    --container-size: var(--size-container-md);
  }
}
@include breakpoint("lg") {
  [u-container-size="lg"] {
    --container-size: var(--size-container-lg);
  }
  [u-container-size="xl"] {
    --container-size: var(--size-container-lg);
  }
}

@include breakpoint("xl") {
  [u-container-size="xl"] {
    --container-size: var(--size-container-xl);
  }
}

// Row
[u-row] {
  --row-gutter: var(--size-md);

  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-left: calc(var(--row-gutter) / -4);
  margin-right: calc(var(--row-gutter) / -4);

  margin-top: calc(var(--row-gutter) / -4);
  margin-bottom: calc(var(--row-gutter) / -4);

  //
}

@include variant(row-gutter, $sizes) using ($size) {
  --row-gutter: #{var(--size-#{$size})};
}

// Col
[u-col] {
  padding-left: calc(var(--row-gutter) / 4);
  padding-right: calc(var(--row-gutter) / 4);

  padding-top: calc(var(--row-gutter) / 4);
  padding-bottom: calc(var(--row-gutter) / 4);

  margin-left: calc(var(--offset, 0) * 100% / 12);

  --col-width: calc(var(--col) * 100% / 12);
  width: var(--col-width, auto);
}

[u-col-col=""] {
  flex: 1;
}

$col-sizes: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
@include variant(col-col, $col-sizes) using ($size) {
  --col: #{$size};
}

@include variant(col-offset, $col-sizes) using ($size) {
  --offset: #{$size};
}

@include breakpoints() using ($breakpoint) {
  [u-col-col-#{$breakpoint}=""] {
    flex: 1;
  }
  [u-col-col-#{$breakpoint}="0"] {
    --col: unset;
  }
}

@include breakpoints using ($breakpoint) {
  @include variant(col-col-#{$breakpoint}, $col-sizes) using($size) {
    --col: #{$size};
  }

  @include variant(col-offset-#{$breakpoint}, $col-sizes) using($size) {
    --offset: #{$size};
  }
}
