[u-modal] {
  opacity: 0;
  transition: all 0.3s ease;
  --modal-size: max-content;
  --modal-margin: var(--size-md);

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

[u-modal-content] {
  max-width: var(--modal-size);
  margin: var(--modal-margin);
  width: 100%;
  background-color: var(--color-base-200);
  border: 1px solid var(--color-base-400);
  border-radius: var(--size-xxs);
  z-index: 11;
}

@include size-variants(modal) using($size) {
  --modal-size: calc(var(--size-container-#{$size}));
}

[u-modal-open] {
  opacity: 1;
  pointer-events: all;
}

[u-modal-body] {
  padding: var(--size-sm) var(--size-md);
  max-height: 95vh;
  overflow-y: auto;
}
[u-modal-backdrop] {
  z-index: 10;
  transition: all 0.3s ease;
  background-color: rgba(0,0,0,0.35);
  // backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
