[u-modal] {
  opacity: 0;
  transition: all 0.2s ease;
  --modal-size: var(--size-content-md);
  --modal-margin: var(--size-md);

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

[u-modal-content] {
  max-width: var(--modal-size);
  margin: var(--modal-margin);
  width: 100%;
  background-color: var(--color-base-200);
  border: 1px solid var(--color-base-400);
  border-radius: var(--size-xxs);
  z-index: 1;
}

@include size-variants(modal) using($size) {
  --modal-size: #{var(--size-content-#{$size})};
}

[u-modal-open] {
  opacity: 1;
  pointer-events: all;
}

[u-modal-body] {
  padding: var(--size-sm) var(--size-md);
}
[u-modal-backdrop] {
  transition: all 0.2s ease;
  background-color: #00000080;
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
