// //style for floating-ui tooltip
[u-popup] {
    box-sizing: border-box;
    display: none;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: calc(var(--size-xxs) / 2) var(--size-xs);
    font-size: var(--size-sm);
    color: var(--color-base-800);
    background-color: var(--color-base-200);
    z-index: 99;
    border: 1px solid var(--color-base-400);
    background-clip: padding-box;
    border-radius: calc(var(--size-xxs) / 2);
  }
  [u-popup-arrow] {
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
  }
  
  [u-popup-arrow]:before,
  [u-popup-arrow]:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  
  [u-popup-arrow]:before {
    border-bottom: 8px solid var(--color-base-400);
  }
  
  [u-popup-arrow]:after {
    bottom: -1px;
    border-bottom: 8px solid var(--color-base-200);
  }
  
  
  [u-popup-edge] {
    z-index: 100;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-style: solid;
    opacity: 0;
  }
  
  [u-tooltip-focus-able] {
    z-index: -3;
  }








