[u-progress] {
  height: var(--size-xs);
  background-color: var(--color-base-300);
  border-radius: var(--size-xxs);
  overflow: hidden;
}

[u-progress-bar] {
  height: 100%;
  background-color: var(--progress-bar-color);
}

@include color-variants(progress-bar) using ($color) {
  --progress-bar-color: #{var(--color-#{$color}-500)};
}

