[u-table] {
  width: 100%;
  border-spacing: 0;
}
[u-table-cell] {
  padding: var(--size-xs) var(--size-sm);
  border-bottom: 1px solid var(--color-base-400);
  color: var(--color-base-900);
}

[u-table-actions] {
  display: flex;
  gap: var(--size-xxs);
}

[u-table-head] {
  background-color: var(--color-base-200);
}

.dark [u-table-head] {
  background-color: var(--color-base-300);
}

[u-table-wrapper] {
  width: 100%;
  overflow-x: auto;
}
