@function tint($color, $percentage) {
  @return mix(white, $color, $percentage * 1%);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage * 1%);
}

$theme-colors: (
primary: #2677e1,
secondary: #65758b,
success: #5dae48,
error: #b93b3b,
warning: #f6a50e,
info: #48a2ae,
);

/* #region Root */
:root, [u-view-theme="light"] {

  @each $color, $value in $theme-colors {
    @debug $color, $value;
    --color-#{$color}-100: #{tint($value, 80)};
    --color-#{$color}-200: #{tint($value, 60)};
    --color-#{$color}-300: #{tint($value, 40)};
    --color-#{$color}-400: #{tint($value, 20)};
    --color-#{$color}-500: #{$value};
    --color-#{$color}-600: #{shade($value, 20)};
    --color-#{$color}-700: #{shade($value, 40)};

    --color-#{$color}-800: var(--color-light-100);
    --color-#{$color}-900: var(--color-light-200);
  }

  --color-light-100: #f4f4f4;
  --color-light-200: #ffffff;
  --color-light-300: #e5e7e8;
  --color-light-400: #ced4da;
  --color-light-500: #bec4cb;
  --color-light-600: #b0b5bb;
  --color-light-700: #adb1be;

  --color-light-800: #494b4f;
  --color-light-900: #2d3030;
  
  --color-dark-100: #0e1824;
  --color-dark-200: #121e2d;
  --color-dark-300: #162436;
  --color-dark-400: #1d2d42;
  --color-dark-500: #182433;
  --color-dark-600: #1e202c;
  --color-dark-700: #1a203b;
  
  --color-dark-800: #c2c7d5;
  --color-dark-900: #dadbe1;


  --color-base-100: var(--color-light-100);
  --color-base-200: var(--color-light-200);
  --color-base-300: var(--color-light-300);
  --color-base-400: var(--color-light-400);
  --color-base-500: var(--color-light-500);
  --color-base-600: var(--color-light-600);
  --color-base-700: var(--color-light-700);
  --color-base-800: var(--color-light-800);
  --color-base-900: var(--color-light-900);
}

:root {
  --size-base: 1rem;
  --size-xxs: calc(0.25 * var(--size-base));
  --size-xs: calc(0.5 * var(--size-base));
  --size-sm: calc(0.75 * var(--size-base));
  --size-md: calc(1 * var(--size-base));
  --size-lg: calc(1.5 * var(--size-base));
  --size-xl: calc(2 * var(--size-base));
  --size-2xl: calc(2.5 * var(--size-base));
  --size-3xl: calc(3 * var(--size-base));
  --size-4xl: calc(4 * var(--size-base));
  --size-5xl: calc(6 * var(--size-base));
  --size-6xl: calc(8 * var(--size-base));

  --size-container-xs: 540px;
  --size-container-sm: 728px;
  --size-container-md: 952px;
  --size-container-lg: 1160px;
  --size-container-xl: 1400px;
}

/* #endregion */

/* #region Dark */

[u-view-theme="dark"] {
  --color-base-100: var(--color-dark-100);
  --color-base-200: var(--color-dark-200);
  --color-base-300: var(--color-dark-300);
  --color-base-400: var(--color-dark-400);
  --color-base-500: var(--color-dark-500);
  --color-base-600: var(--color-dark-600);
  --color-base-700: var(--color-dark-700);
  --color-base-800: var(--color-dark-800);
  --color-base-900: var(--color-dark-900);

  @each $color, $value in $theme-colors {
    --color-#{$color}-100: #{shade($value, 70)};
    --color-#{$color}-200: #{shade($value, 60)};
    --color-#{$color}-300: #{shade($value, 40)};
    --color-#{$color}-400: #{shade($value, 20)};
    --color-#{$color}-500: #{$value};
    --color-#{$color}-600: #{tint($value, 10)};
    --color-#{$color}-700: #{tint($value, 20)};
    --color-#{$color}-800: var(--color-light-100);
    --color-#{$color}-900: var(--color-light-200);

  }
  

  background-color: var(--color-base-100);
  color: var(--color-base-900);
}

[u-view-theme="light"] {
  --color-base-100: var(--color-light-100);
  --color-base-200: var(--color-light-200);
  --color-base-300: var(--color-light-300);
  --color-base-400: var(--color-light-400);
  --color-base-500: var(--color-light-500);
  --color-base-600: var(--color-light-600);
  --color-base-700: var(--color-light-700);
  --color-base-800: var(--color-light-800);
  --color-base-900: var(--color-light-900);

  background-color: var(--color-base-100);
  color: var(--color-base-900);
}

/* #endregion */

/* #region Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-size: calc(var(--size-md) * 0.8);
  line-height: var(--size-md);

  background-color: var(--color-base-100);
  color: var(--color-base-900);

  font-family: 'Poppins', sans-serif;
}

@mixin font-size($size) {
  line-height: #{var(--size-#{$size})};
  font-size: #{calc(var(--size-#{$size}) * 0.8)};
}


// dark light toggle smoothly
* {
  transition-property: background-color, border-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

h1 {
  @include font-size(2xl);
}

h2 {
  @include font-size(xl);
}
h3 {
  @include font-size(lg);
}
h4 {
  @include font-size(md);
}
h5 {
  @include font-size(sm);
}

h6 {
  @include font-size(xs);
}

code {
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
}
/* #endregion */
