/* #region Root */
:root, [u-view-theme="light"] {
  --color-primary-100: #c0d6f1;
  --color-primary-200: #97bced;
  --color-primary-300: #7fb0e8;
  --color-primary-400: #5593e6;
  --color-primary-500: #2677e1;
  --color-primary-600: #1d5aaa;
  --color-primary-700: #16519f;
  --color-primary-content: var(--color-light-100);

  --color-secondary-100: #c6d0dc;
  --color-secondary-200: #a5b4c8;
  --color-secondary-300: #8396af;
  --color-secondary-400: #7686a0;
  --color-secondary-500: #65758b;
  --color-secondary-600: #576679;
  --color-secondary-700: #4a5869;
  --color-secondary-content: var(--color-light-100);

  --color-success-100: #cbe6c4;
  --color-success-200: #a8e299;
  --color-success-300: #8ed27d;
  --color-success-400: #74c061;
  --color-success-500: #5dae48;
  --color-success-600: #428d2f;
  --color-success-700: #347624;
  --color-success-content: var(--color-light-100);

  --color-error-100: #e7c0c0;
  --color-error-200: #e69b9b;
  --color-error-300: #d67b7b;
  --color-error-400: #ca6161;
  --color-error-500: #b93b3b;
  --color-error-600: #872b2b;
  --color-error-700: #752626;
  --color-error-content: var(--color-light-100);

  --color-warning-100: #f4daa7;
  --color-warning-200: #f7c560;
  --color-warning-300: #eeb84b;
  --color-warning-400: #f6af2a;
  --color-warning-500: #f6a50e;
  --color-warning-600: #da960e;
  --color-warning-700: #cd8f13;
  --color-warning-content: var(--color-light-100);

  --color-info-100: #b6ebf2;
  --color-info-200: #8be7f3;
  --color-info-300: #76d2de;
  --color-info-400: #60bdc9;
  --color-info-500: #48a2ae;
  --color-info-600: #237782;
  --color-info-700: #29838f;
  --color-info-content: var(--color-light-100);

  --color-dark-100: #0e1824;
  --color-dark-200: #121e2d;
  --color-dark-300: #162436;
  --color-dark-400: #1d2d42;

  // disabled (opacity: 0.5)

  --color-dark-700: #9599ad;
  --color-dark-800: #a6b0cf;
  --color-dark-900: #c3cbe4;

  --color-light-100: #f8f8f8;
  --color-light-200: #ffffff;
  --color-light-300: #e9ebec;
  --color-light-400: #ced4da;

  --color-light-700: #82848d;
  --color-light-800: #6c7286;
  --color-light-900: #495057;

  --color-base-100: var(--color-light-100);
  --color-base-200: var(--color-light-200);
  --color-base-300: var(--color-light-300);
  --color-base-400: var(--color-light-400);

  --color-base-700: var(--color-light-700);
  --color-base-800: var(--color-light-800);
  --color-base-900: var(--color-light-900);
}

:root {
  --size-base: 1.5rem;
  --size-xxs: calc(0.25 * var(--size-base));
  --size-xs: calc(0.5 * var(--size-base));
  --size-sm: calc(0.75 * var(--size-base));
  --size-md: calc(1 * var(--size-base));
  --size-lg: calc(1.5 * var(--size-base));
  --size-xl: calc(2 * var(--size-base));
  --size-2xl: calc(2.5 * var(--size-base));
  --size-3xl: calc(3 * var(--size-base));
  --size-4xl: calc(4 * var(--size-base));
  --size-5xl: calc(6 * var(--size-base));
  --size-6xl: calc(8 * var(--size-base));

  --size-container-xs: 540px;
  --size-container-sm: 728px;
  --size-container-md: 952px;
  --size-container-lg: 1160px;
  --size-container-xl: 1400px;
}

/* #endregion */

/* #region Dark */

[u-view-theme="dark"] {
  --color-base-100: var(--color-dark-100);
  --color-base-200: var(--color-dark-200);
  --color-base-300: var(--color-dark-300);
  --color-base-400: var(--color-dark-400);

  --color-base-700: var(--color-dark-700);
  --color-base-800: var(--color-dark-800);
  --color-base-900: var(--color-dark-900);

  --color-primary-100: #0e2038;
  --color-primary-200: #193354;
  --color-primary-300: #234772;
  --color-primary-400: #3c6cab;
  --color-primary-500: #2677e1;
  --color-primary-600: #1d5aaa;
  --color-primary-700: #16519f;


  background-color: var(--color-base-100);
  color: var(--color-base-900);
}

[u-view-theme="light"] {
  --color-base-100: var(--color-light-100);
  --color-base-200: var(--color-light-200);
  --color-base-300: var(--color-light-300);
  --color-base-400: var(--color-light-400);

  --color-base-700: var(--color-light-700);
  --color-base-800: var(--color-light-800);
  --color-base-900: var(--color-light-900);

  background-color: var(--color-base-100);
  color: var(--color-base-900);
}

/* #endregion */

/* #region Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  font-size: calc(var(--size-md) * 0.8);
  line-height: var(--size-md);

  background-color: var(--color-base-100);
  color: var(--color-base-900);

  font-family: 'Poppins', sans-serif;
}

@mixin font-size($size) {
  line-height: #{var(--size-#{$size})};
  font-size: #{calc(var(--size-#{$size}) * 0.8)};
}


// dark light toggle smoothly
* {
  transition-property: background-color, border-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

h1 {
  @include font-size(2xl);
}

h2 {
  @include font-size(xl);
}
h3 {
  @include font-size(lg);
}
h4 {
  @include font-size(md);
}
h5 {
  @include font-size(sm);
}

h6 {
  @include font-size(xs);
}

/* #endregion */
