$colors: ("primary", "secondary", "success", "info", "error", "warning");
$sizes: ("xs", "sm", "md", "lg", "xl");
$all-sizes: (
  "0",
  "xxs",
  "xs",
  "sm",
  "md",
  "lg",
  "xl",
  "2xl",
  "3xl",
  "4xl",
  "5xl",
  "6xl"
);
