/* #region Root */
:root {
  --color-primary-200: #97BCED;
  --color-primary-300: #7FB0E8;
  --color-primary-400: #5593e6;
  --color-primary-500: #2677e1;
  --color-primary-600: #1d5aaa;
  --color-primary-content: var(--color-light-100);

  --color-secondary-200: #A5B4C8;
  --color-secondary-300: #8396AF;
  --color-secondary-400: #7686A0;
  --color-secondary-500: #65758b;
  --color-secondary-600: #576679;
  --color-secondary-content: var(--color-light-100);

  --color-success-200: #A8E299;
  --color-success-300: #8ED27D;
  --color-success-400: #74C061;
  --color-success-500: #5DAE48;
  --color-success-600: #428D2f;
  --color-success-content: var(--color-light-100);


  --color-error-200: #E69B9B;
  --color-error-300: #D67B7B;
  --color-error-400: #CA6161;
  --color-error-500: #B93B3B;
  --color-error-600: #872B2B;
  --color-error-content: var(--color-light-100);


  --color-warning-200: #EBC069;
  --color-warning-300: #DEAE4D;
  --color-warning-400: #D2A13E;
  --color-warning-500: #BD9325;
  --color-warning-600: #a87716;
  --color-warning-content: var(--color-dark-100);


  --color-info-200: #8BE7F3;
  --color-info-300: #76D2DE;
  --color-info-400: #60BDC9;
  --color-info-500: #48A2AE;
  --color-info-600: #29838F;
  --color-info-content: var(--color-light-100);

  --color-dark-100: #202020;
  --color-dark-200: #262626;
  --color-dark-300: #2c2c2c;
  --color-dark-400: #323232;
  --color-dark-content: var(--color-light-100);

  --color-light-100: #f5f5f5;
  --color-light-200: #efefef;
  --color-light-300: #e9e9e9;
  --color-light-400: #e3e3e3;
  --color-light-content: var(--color-dark-100);

  --color-base-100: var(--color-light-100);
  --color-base-200: var(--color-light-200);
  --color-base-300: var(--color-light-300);
  --color-base-400: var(--color-light-400);
  --color-base-content: var(--color-light-content);

  --size-base: 1.5rem;
  --size-xxs: calc(0.25 * var(--size-base));
  --size-xs: calc(0.5 * var(--size-base));
  --size-sm: calc(0.75 * var(--size-base));
  --size-md: calc(1 * var(--size-base));
  --size-lg: calc(1.5 * var(--size-base));
  --size-xl: calc(2 * var(--size-base));
  --size-2xl: calc(3 * var(--size-base));
  --size-3xl: calc(4 * var(--size-base));
  --size-4xl: calc(6 * var(--size-base));
  --size-5xl: calc(8 * var(--size-base));
  --size-6xl: calc(12 * var(--size-base));

  --size-content-xs: 304px;
  --size-content-sm: 432px;
  --size-content-md: 688px;
  --size-content-lg: 928px;
  --size-content-xl: 1152px;

}
/* #endregion */

/* #region Dark */
.dark {
  --color-base-100: var(--color-dark-100);
  --color-base-200: var(--color-dark-200);
  --color-base-300: var(--color-dark-300);
  --color-base-400: var(--color-dark-400);
  --color-base-content: var(--color-dark-content);

  background-color: var(--color-base-200);
  color: var(--color-base-content);
}
/* #endregion */


/* #region Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: calc(var(--size-md) * 0.8);
  line-height: var(--size-md);
  background-color: var(--color-base-200);
  color: var(--color-base-content);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  line-height: var(--size-2xl);
  font-size: calc(var(--size-2xl) * 0.8);
}
h2 {
  line-height: var(--size-xl);
  font-size: calc(var(--size-xl) * 0.8);
}
h3 {
  line-height: var(--size-lg);
  font-size: calc(var(--size-lg) * 0.8);
}
h4 {
  line-height: var(--size-md);
  font-size: calc(var(--size-md) * 0.8);
}
h5 {
  line-height: var(--size-sm);
  font-size: calc(var(--size-sm) * 0.8);
}

h6 {
  line-height: var(--size-xs);
  font-size: calc(var(--size-xs) * 0.8);
}

/* #endregion */

/* #region Accordion */
[u-accordions] {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-base-400); 
}

[u-accordion] {
  border-bottom: 1px solid var(--color-base-400);
}

[u-accordion-header] {
  padding: var(--size-sm) var(--size-md);
  font-size: calc(var(--size-lg) * 0.8);
  line-height: var(--size-lg);
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
[u-accordion-header=open] {
  font-weight: bold;
}

[u-accordion-content] {
  display: none;
}

[u-accordion-content-open] {
  display: block;
}

[u-accordion-body] {
  padding: var(--size-md);
}

/* #endregion */

/* #region Button */
[u-button] {
  --button-bg: var(--color-base-200);
  --button-hover: var(--color-base-400);
  --button-active: var(--color-base-100);
  --button-content: var(--color-base-content);
  --button-size: var(--size-md);

  transition: all 0.2s ease;

  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  gap: var(--button-size);
  padding: var(--size-xxs) calc(var(--button-size) / 2 + var(--size-xxs));
  font-size: calc(var(--button-size) * 0.8);
  line-height: var(--button-size);
  border-radius: calc(var(--button-size) / 8);

  background-color: var(--button-bg);
  color: var(--button-content);
  border: 1px solid var(--button-hover);
}

[u-button]:hover {
  z-index: 1;
  background-color: var(--button-hover);
  box-shadow: 0 0 2px var(--color-dark-100);
}

[u-button]:active {
  background-color: var(--button-active);
  box-shadow: 0 0 4px var(--color-dark-100);
}

[u-button-link] {
  background-color: transparent;
  color: var(--color-base-content);
  border-color: transparent;
}

[u-button-link]:hover {
  background-color: transparent;
  border-color: transparent;
  opacity: 0.7;
  color: var(--color-base-content);
}
[u-button-link]:active {
  opacity: 0.5;
  border-color: transparent;
  box-shadow: none;
}

[u-button-size=sm] {
  --button-size: var(--size-sm);
}
[u-button-size=md] {
  --button-size: var(--size-md);
}
[u-button-size=lg] {
  --button-size: var(--size-lg);
}
[u-button-size=xl] {
  --button-size: var(--size-xl);
}

[u-button-color=primary] {
  --button-bg: var(--color-primary-500);
  --button-hover: var(--color-primary-600);
  --button-active: var(--color-primary-400);
  --button-content: var(--color-primary-content);
}
[u-button-color=secondary] {
  --button-bg: var(--color-secondary-500);
  --button-hover: var(--color-secondary-600);
  --button-active: var(--color-secondary-400);
  --button-content: var(--color-secondary-content);
}
[u-button-color=success] {
  --button-bg: var(--color-success-500);
  --button-hover: var(--color-success-600);
  --button-active: var(--color-success-400);
  --button-content: var(--color-success-content);
}
[u-button-color=info] {
  --button-bg: var(--color-info-500);
  --button-hover: var(--color-info-600);
  --button-active: var(--color-info-400);
  --button-content: var(--color-info-content);
}
[u-button-color=warning] {
  --button-bg: var(--color-warning-500);
  --button-hover: var(--color-warning-600);
  --button-active: var(--color-warning-400);
  --button-content: var(--color-warning-content);
}
[u-button-color=error] {
  --button-bg: var(--color-error-500);
  --button-hover: var(--color-error-600);
  --button-active: var(--color-error-400);
  --button-content: var(--color-error-content);
}
[u-button-color=dark] {
  --button-bg: var(--color-dark-300);
  --button-hover: var(--color-dark-400);
  --button-active: var(--color-dark-200);
  --button-content: var(--color-dark-content);
}
[u-button-color=light] {
  --button-bg: var(--color-light-300);
  --button-hover: var(--color-light-400);
  --button-active: var(--color-light-200);
  --button-content: var(--color-light-content);
}

[u-button-group] {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-xxs);
}

[u-button-group-compact] {
  gap: 0;
}

[u-button] > [u-icon] {
  --icon-size: var(--button-size);
  margin-left: calc(var(--icon-size) / -2); 
  margin-right: calc(var(--icon-size) / -2); 
}
/* #endregion */

/* #region Badge */
[u-badge] {
  --badge-bg: var(--color-default-bg);
  --badge-content: var(--color-default-content);

  --badge-size: var(--size-md);
  border-radius: var(--badge-size);
  padding: 0 calc(var(--badge-size) / 2);
  font-size: calc(var(--badge-size) * 0.8);
  line-height: var(--badge-size);

  background-color: var(--badge-bg);
  color: var(--badge-content);
}

[u-badge-size=xs] {
  --badge-size: var(--size-xs);
}

[u-badge-size=sm] {
  --badge-size: var(--size-sm);
}

[u-badge-size=md] {
  --badge-size: var(--size-md);
}
[u-badge-size=lg] {
  --badge-size: var(--size-lg);
}
[u-badge-size=xl] {
  --badge-size: var(--size-xl);
}

[u-badge-color=primary] {
  --badge-bg: var(--color-primary-500);
  --badge-content: var(--color-primary-content);
}

[u-badge-color=secondary] {
  --badge-bg: var(--color-secondary-500);
  --badge-content: var(--color-secondary-content);
}
[u-badge-color=success] {
  --badge-bg: var(--color-success-500);
  --badge-content: var(--color-success-content);
}
[u-badge-color=info] {
  --badge-bg: var(--color-info-500);
  --badge-content: var(--color-info-content);
}
[u-badge-color=error] {
  --badge-bg: var(--color-error-500);
  --badge-content: var(--color-error-content);
}
[u-badge-color=warning] {
  --badge-bg: var(--color-warning-500);
  --badge-content: var(--color-warning-content);
}
/* #endregion */

/* #region Card */
[u-card] {
  box-shadow: 0 0 1px var(--color-base-content);
  border-radius: var(--size-xxs);
  background-color: var(--color-base-100);
  overflow: hidden;
}

[u-card-body] {
  padding: var(--size-md);
}

[u-card-header] {
  padding: var(--size-xs) var(--size-md);
  box-shadow: 0 1px 1px -1px  var(--color-base-content);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: var(--size-xxs);
  border-top-left-radius: var(--size-xxs);
}

[u-card-footer] {
  padding: var(--size-xs) var(--size-md);
  background-color: var(--color-base-200);
  box-shadow: 0 -1px 1px -1px  var(--color-base-content);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: var(--size-xxs);
  border-bottom-left-radius: var(--size-xxs);
}

[u-card-title] {
  font-size: calc(var(--size-lg) * 0.8);
  line-height: var(--size-lg);
}

[u-card-actions] {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}
/* #endregion */

/* #region Icon */
[u-icon] {
  --icon-size: var(--size-md);

  stroke-width: 1px;
  width: var(--icon-size);
  height: var(--icon-size);
}

[u-icon-size=xxs] {
  --icon-size: var(--size-xxs);
}
[u-icon-size=xs] {
  --icon-size: var(--size-xs);
}
[u-icon-size=sm] {
  --icon-size: var(--size-sm);
}
[u-icon-size=md] {
  --icon-size: var(--size-md);
}
[u-icon-size=lg] {
  --icon-size: var(--size-lg);
}
[u-icon-size=xl] {
  --icon-size: var(--size-xl);
}
[u-icon-size=2xl] {
  --icon-size: var(--size-2xl);
}
[u-icon-size=3xl] {
  --icon-size: var(--size-3xl);
}
[u-icon-size=5xl] {
  --icon-size: var(--size-5xl);
}
[u-icon-size=6xl] {
  --icon-size: var(--size-6xl);
}
/* #endregion */

/* #region Input */

[u-input-wrapper] {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--size-xxs);
  margin-bottom: var(--size-sm);
}

[u-label] {
  font-size: calc(var(--size-md) * 0.8);
  font-weight: bold;
  line-height: var(--size-md);
}
[u-input] {
  border: none;
  background-color: var(--color-base-100);
  padding: var(--size-xs) var(--size-sm);
  box-shadow: 0 0 1px var(--color-base-content);
  color: var(--color-base-content);
}

[u-input]:focus {
  background-color: var(--color-base-200);
  outline: none;
  box-shadow: 0 0 0px 1px var(--color-primary-600);
}


/* #endregion */

/* #region Table */

[u-table] {
  width: 100%;
}
[u-table-cell] {
  padding: var(--size-xs) var(--size-sm);
  border-bottom: 1px solid var(--color-base-400);
  color: var(--color-base-content);
}

[u-table-actions] {
  display: flex;
  gap: var(--size-xxs);
}

[u-table-head] {
  background-color: var(--color-base-200);
}

[u-table-wrapper] {
  width: 100%;
  overflow-x: auto;
}

/* #endregion */

/* #region Modal */
[u-modal] {
  opacity: 0;
  transition: all 0.2s ease;
  --modal-size: var(--size-content-md);
  --modal-margin: var(--size-md);

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

[u-modal-content] {
  max-width: var(--modal-size);
  margin: var(--modal-margin);
  width: 100%;
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-400);
  border-radius: var(--size-xxs);
  z-index: 1;
}

[u-modal-size=xs] {
  --modal-size: var(--size-content-xs);
}
[u-modal-size=sm] {
  --modal-size: var(--size-content-sm);

}
[u-modal-size=md] {
  --modal-size: var(--size-content-md);
}

[u-modal-size=lg] {
  --modal-size: var(--size-content-lg);
}

[u-modal-size=xl] {
  --modal-size: var(--size-content-xl);
}

[u-modal-open] {
  opacity: 1;
  pointer-events: all;
}

[u-modal-body] {
  padding: var(--size-sm) var(--size-md);
}
[u-modal-backdrop] {
  transition: all 0.2s ease;
  background-color: #20202080;
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;

}
/* #endregion */

/* #region View (Margin) */
[u-view-m=0] {
  margin: 0;
}
[u-view-m=xxs] {
  margin: var(--size-xxs);
}
[u-view-m=xs] {
  margin: var(--size-xs);
}
[u-view-m=sm] {
  margin: var(--size-sm);
}
[u-view-m=md] {
  margin: var(--size-md);
}
[u-view-m=lg] {
  margin: var(--size-lg);
}
[u-view-m=xl] {
  margin: var(--size-xl);
}
[u-view-m=2xl] {
  margin: var(--size-2xl);
}
[u-view-m=3xl] {
  margin: var(--size-3xl);
}
[u-view-m=4xl] {
  margin: var(--size-4xl);
}
[u-view-m=5xl] {
  margin: var(--size-5xl);
}
[u-view-m=6xl] {
  margin: var(--size-6xl);
}

[u-view-mx=0] {
  margin-left: 0;
  margin-right: 0;
}
[u-view-mx=xxs] {
  margin-left: var(--size-xxs);
  margin-right: var(--size-xxs);
}
[u-view-mx=xs] {
  margin-left: var(--size-xs);
  margin-right: var(--size-xs);
}

[u-view-mx=sm] {
  margin-left: var(--size-sm);
  margin-right: var(--size-sm);
}
[u-view-mx=md] {
  margin-left: var(--size-md);
  margin-right: var(--size-md);
}
[u-view-mx=lg] {
  margin-left: var(--size-lg);
  margin-right: var(--size-lg);
}
[u-view-mx=xl] {
  margin-left: var(--size-xl);
  margin-right: var(--size-xl);
}
[u-view-mx=2xl] {
  margin-left: var(--size-2xl);
  margin-right: var(--size-2xl);
}
[u-view-mx=3xl] {
  margin-left: var(--size-3xl);
  margin-right: var(--size-3xl);
}
[u-view-mx=4xl] {
  margin-left: var(--size-4xl);
  margin-right: var(--size-4xl);
}
[u-view-mx=5xl] {
  margin-left: var(--size-5xl);
  margin-right: var(--size-5xl);
}
[u-view-mx=6xl] {
  margin-left: var(--size-6xl);
  margin-right: var(--size-6xl);
}

[u-view-my=0] {
  margin-top: 0;
  margin-bottom: 0;
}
[u-view-my=xxs] {
  margin-top: var(--size-xxs);
  margin-bottom: var(--size-xxs);
}
[u-view-my=xs] {
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
}

[u-view-my=sm] {
  margin-top: var(--size-sm);
  margin-bottom: var(--size-sm);
}
[u-view-my=md] {
  margin-top: var(--size-md);
  margin-bottom: var(--size-md);
}
[u-view-my=lg] {
  margin-top: var(--size-lg);
  margin-bottom: var(--size-lg);
}
[u-view-my=xl] {
  margin-top: var(--size-xl);
  margin-bottom: var(--size-xl);
}
[u-view-my=2xl] {
  margin-top: var(--size-2xl);
  margin-bottom: var(--size-2xl);
}
[u-view-my=3xl] {
  margin-top: var(--size-3xl);
  margin-bottom: var(--size-3xl);
}
[u-view-my=4xl] {
  margin-top: var(--size-4xl);
  margin-bottom: var(--size-4xl);
}
[u-view-my=5xl] {
  margin-top: var(--size-5xl);
  margin-bottom: var(--size-5xl);
}
[u-view-my=6xl] {
  margin-top: var(--size-6xl);
  margin-bottom: var(--size-6xl);
}

[u-view-mt=0] {
  margin-top: 0;
}

[u-view-mt=xxs] {
  margin-top: var(--size-xxs);
}

[u-view-mt=xs] {
  margin-top: var(--size-xs);
}
[u-view-mt=sm] {
  margin-top: var(--size-sm);
}
[u-view-mt=md] {
  margin-top: var(--size-md);
}
[u-view-mt=lg] {
  margin-top: var(--size-lg);
}
[u-view-mt=xl] {
  margin-top: var(--size-xl);
}
[u-view-mt=2xl] {
  margin-top: var(--size-2xl);
}
[u-view-mt=3xl] {
  margin-top: var(--size-3xl);
}
[u-view-mt=4xl] {
  margin-top: var(--size-4xl);
}
[u-view-mt=5xl] {
  margin-top: var(--size-5xl);
}
[u-view-mt=6xl] {
  margin-top: var(--size-6xl);
}

[u-view-mb=0] {
  margin-bottom: 0;
}
[u-view-mb=xxs] {
  margin-bottom: var(--size-xxs);
}
[u-view-mb=xs] {
  margin-bottom: var(--size-xs);
}
[u-view-mb=sm] {
  margin-bottom: var(--size-sm);
}
[u-view-mb=md] {
  margin-bottom: var(--size-md);
}
[u-view-mb=lg] {
  margin-bottom: var(--size-lg);
}
[u-view-mb=xl] {
  margin-bottom: var(--size-xl);
}
[u-view-mb=2xl] {
  margin-bottom: var(--size-2xl);
}
[u-view-mb=3xl] {
  margin-bottom: var(--size-3xl);
}
[u-view-mb=4xl] {
  margin-bottom: var(--size-4xl);
}
[u-view-mb=5xl] {
  margin-bottom: var(--size-5xl);
}
[u-view-mb=6xl] {
  margin-bottom: var(--size-6xl);
}

[u-view-ms=0] {
  margin-left: 0;
}
[u-view-ms=xxs] {
  margin-left: var(--size-xxs);
}

[u-view-ms=xs] {
  margin-left: var(--size-xs);
}

[u-view-ms=sm] {
  margin-left: var(--size-sm);
}
[u-view-ms=md] {
  margin-left: var(--size-md);
}
[u-view-ms=lg] {
  margin-left: var(--size-lg);
}
[u-view-ms=xl] {
  margin-left: var(--size-xl);
}
[u-view-ms=2xl] {
  margin-left: var(--size-2xl);
}
[u-view-ms=3xl] {
  margin-left: var(--size-3xl);
}
[u-view-ms=4xl] {
  margin-left: var(--size-4xl);
}
[u-view-ms=5xl] {
  margin-left: var(--size-5xl);
}
[u-view-ms=6xl] {
  margin-left: var(--size-6xl);
}

[u-view-me=0] {
  margin-right: 0;
}
[u-view-me=xxs] {
  margin-right: var(--size-xxs);
}
[u-view-me=xs] {
  margin-right: var(--size-xs);
}

[u-view-me=sm] {
  margin-right: var(--size-sm);
}
[u-view-me=md] {
  margin-right: var(--size-md);
}
[u-view-me=lg] {
  margin-right: var(--size-lg);
}
[u-view-me=xl] {
  margin-right: var(--size-xl);
}
[u-view-me=2xl] {
  margin-right: var(--size-2xl);
}
[u-view-me=3xl] {
  margin-right: var(--size-3xl);
}
[u-view-me=4xl] {
  margin-right: var(--size-4xl);
}
[u-view-me=5xl] {
  margin-right: var(--size-5xl);
}
[u-view-me=6xl] {
  margin-right: var(--size-6xl);
}

/* #endregion */

/* #region View (Padding) */
[u-view-p=0] {
  padding: 0;
}
[u-view-p=xxs] {
  padding: var(--size-xxs);
}
[u-view-p=xs] {
  padding: var(--size-xs);
}
[u-view-p=sm] {
  padding: var(--size-sm);
}
[u-view-p=md] {
  padding: var(--size-md);
}
[u-view-p=lg] {
  padding: var(--size-lg);
}
[u-view-p=xl] {
  padding: var(--size-xl);
}
[u-view-p=2xl] {
  padding: var(--size-2xl);
}
[u-view-p=3xl] {
  padding: var(--size-3xl);
}
[u-view-p=4xl] {
  padding: var(--size-4xl);
}
[u-view-p=5xl] {
  padding: var(--size-5xl);
}
[u-view-p=6xl] {
  padding: var(--size-6xl);
}

[u-view-px=0] {
  padding-left: 0;
  padding-right: 0;
}
[u-view-px=xxs] {
  padding-left: var(--size-xxs);
  padding-right: var(--size-xxs);
}

[u-view-px=xs] {
  padding-left: var(--size-xs);
  padding-right: var(--size-xs);
}

[u-view-px=sm] {
  padding-left: var(--size-sm);
  padding-right: var(--size-sm);
}
[u-view-px=md] {
  padding-left: var(--size-md);
  padding-right: var(--size-md);
}
[u-view-px=lg] {
  padding-left: var(--size-lg);
  padding-right: var(--size-lg);
}
[u-view-px=xl] {
  padding-left: var(--size-xl);
  padding-right: var(--size-xl);
}
[u-view-px=2xl] {
  padding-left: var(--size-2xl);
  padding-right: var(--size-2xl);
}
[u-view-px=3xl] {
  padding-left: var(--size-3xl);
  padding-right: var(--size-3xl);
}
[u-view-px=4xl] {
  padding-left: var(--size-4xl);
  padding-right: var(--size-4xl);
}
[u-view-px=5xl] {
  padding-left: var(--size-5xl);
  padding-right: var(--size-5xl);
}
[u-view-px=6xl] {
  padding-left: var(--size-6xl);
  padding-right: var(--size-6xl);
}

[u-view-py=0] {
  padding-top: 0;
  padding-bottom: 0;
}
[u-view-py=xxs] {
  padding-top: var(--size-xxs);
  padding-bottom: var(--size-xxs);
}

[u-view-py=xs] {
  padding-top: var(--size-xs);
  padding-bottom: var(--size-xs);
}

[u-view-py=sm] {
  padding-top: var(--size-sm);
  padding-bottom: var(--size-sm);
}
[u-view-py=md] {
  padding-top: var(--size-md);
  padding-bottom: var(--size-md);
}
[u-view-py=lg] {
  padding-top: var(--size-lg);
  padding-bottom: var(--size-lg);
}
[u-view-py=xl] {
  padding-top: var(--size-xl);
  padding-bottom: var(--size-xl);
}
[u-view-py=2xl] {
  padding-top: var(--size-2xl);
  padding-bottom: var(--size-2xl);
}
[u-view-py=3xl] {
  padding-top: var(--size-3xl);
  padding-bottom: var(--size-3xl);
}
[u-view-py=4xl] {
  padding-top: var(--size-4xl);
  padding-bottom: var(--size-4xl);
}
[u-view-py=5xl] {
  padding-top: var(--size-5xl);
  padding-bottom: var(--size-5xl);
}
[u-view-py=6xl] {
  padding-top: var(--size-6xl);
  padding-bottom: var(--size-6xl);
}

[u-view-pt=0] {
  padding-top: 0;
}
[u-view-pt=xxs] {
  padding-top: var(--size-xxs);
}

[u-view-pt=xs] {
  padding-top: var(--size-xs);
}
[u-view-pt=sm] {
  padding-top: var(--size-sm);
}
[u-view-pt=md] {
  padding-top: var(--size-md);
}
[u-view-pt=lg] {
  padding-top: var(--size-lg);
}
[u-view-pt=xl] {
  padding-top: var(--size-xl);
}
[u-view-pt=2xl] {
  padding-top: var(--size-2xl);
}
[u-view-pt=3xl] {
  padding-top: var(--size-3xl);
}
[u-view-pt=4xl] {
  padding-top: var(--size-4xl);
}
[u-view-pt=5xl] {
  padding-top: var(--size-5xl);
}
[u-view-pt=6xl] {
  padding-top: var(--size-6xl);
}

[u-view-pb=0] {
  padding-bottom: 0;
}

[u-view-pb=xxs] {
  padding-bottom: var(--size-xxs);
}

[u-view-pb=xs] {
  padding-bottom: var(--size-xs);
}
[u-view-pb=sm] {
  padding-bottom: var(--size-sm);
}
[u-view-pb=md] {
  padding-bottom: var(--size-md);
}
[u-view-pb=lg] {
  padding-bottom: var(--size-lg);
}
[u-view-pb=xl] {
  padding-bottom: var(--size-xl);
}
[u-view-pb=2xl] {
  padding-bottom: var(--size-2xl);
}
[u-view-pb=3xl] {
  padding-bottom: var(--size-3xl);
}
[u-view-pb=4xl] {
  padding-bottom: var(--size-4xl);
}
[u-view-pb=5xl] {
  padding-bottom: var(--size-5xl);
}
[u-view-pb=6xl] {
  padding-bottom: var(--size-6xl);
}

[u-view-ps=0] {
  padding-left: 0;
}

[u-view-ps=xxs] {
  padding-left: var(--size-xxs);
}

[u-view-ps=xs] {
  padding-left: var(--size-xs);
}
[u-view-ps=sm] {
  padding-left: var(--size-sm);
}
[u-view-ps=md] {
  padding-left: var(--size-md);
}
[u-view-ps=lg] {
  padding-left: var(--size-lg);
}
[u-view-ps=xl] {
  padding-left: var(--size-xl);
}
[u-view-ps=2xl] {
  padding-left: var(--size-2xl);
}
[u-view-ps=3xl] {
  padding-left: var(--size-3xl);
}
[u-view-ps=4xl] {
  padding-left: var(--size-4xl);
}
[u-view-ps=5xl] {
  padding-left: var(--size-5xl);
}
[u-view-ps=6xl] {
  padding-left: var(--size-6xl);
}

[u-view-pe=0] {
  padding-right: 0;
}

[u-view-pe=xxs] {
  padding-right: var(--size-xxs);
}

[u-view-pe=xs] {
  padding-right: var(--size-xs);
}
[u-view-pe=sm] {
  padding-right: var(--size-sm);
}
[u-view-pe=md] {
  padding-right: var(--size-md);
}
[u-view-pe=lg] {
  padding-right: var(--size-lg);
}
[u-view-pe=xl] {
  padding-right: var(--size-xl);
}
[u-view-pe=2xl] {
  padding-right: var(--size-2xl);
}
[u-view-pe=3xl] {
  padding-right: var(--size-3xl);
}
[u-view-pe=4xl] {
  padding-right: var(--size-4xl);
}
[u-view-pe=5xl] {
  padding-right: var(--size-5xl);
}
[u-view-pe=6xl] {
  padding-right: var(--size-6xl);
}
/* #endregion  */
/* #region Breadcrumb */

[u-breadcrumb] {
  display: flex;
  flex-wrap: wrap;
  padding: var(--size-xs) var(--size-md);
  margin-bottom: var(--size-md);
  list-style: none;
  background-color:  var(--color-base-100);
  border-radius: var(--size-xxs);
}

[u-breadcrumb-item-disabled]::before,
[u-breadcrumb-item-active]::before,
[u-breadcrumb-item]::before {
  display: inline-block;
  padding-right: var(--size-xxs);
  padding-left: var(--size-xxs);
  color: var(--color-secondary-600);
  content: "/";
}

[u-breadcrumb-item-disabled],
[u-breadcrumb-item-active],
[u-breadcrumb-item]{
  display: flex;
  color: var(--color-primary-400);
  text-decoration: none;
}

[u-breadcrumb-item-active]{
  color: var(--color-error-400);
}

[u-breadcrumb-item-disabled]{
  color: var(--color-base-400);
  pointer-events: none;
  text-decoration: none;
}

/* #endregion */

/* #region Breadcrumb */

[u-avatar-size=xs] {
  --avatar-width: calc(3 * var(--size-xs));
  --avatar-height: calc(3 * var(--size-xs));
}
[u-avatar-size=sm] {
  --avatar-width: calc(3 * var(--size-sm));
  --avatar-height: calc(3 * var(--size-sm));
}
[u-avatar-size=md] {
  --avatar-width: calc(3 * var(--size-md));
  --avatar-height: calc(3 * var(--size-md));
}
[u-avatar-size=lg] {
  --avatar-width: calc(3 * var(--size-lg));
  --avatar-height: calc(3 * var(--size-lg));
}
[u-avatar-size=xl] {
  --avatar-width: calc(3 * var(--size-xl));
  --avatar-height: calc(3 * var(--size-xl));
}

[u-avatar-color=primary] {
  --avatar-bg: var(--color-primary-500);
}
[u-avatar-color=secondary] {
  --avatar-bg: var(--color-secondary-500);
}
[u-avatar-color=success] {
  --avatar-bg: var(--color-success-500);
}
[u-avatar-color=info] {
  --avatar-bg: var(--color-info-500);
}
[u-avatar-color=warning] {
  --avatar-bg: var(--color-warning-500);
}
[u-avatar-color=error] {
  --avatar-bg: var(--color-error-500);
}
[u-avatar-color=dark] {
  --avatar-bg: var(--color-dark-300);
}
[u-avatar-color=light] {
  --avatar-bg: var(--color-light-300);
}

[u-avatar] {
  display: inline-flex;
  width: var(--avatar-width);
  height: var(--avatar-height);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-base-100);
  font-size: var(--size-md);
  text-transform: uppercase;
  background-color: var(--avatar-bg);
}

[u-avatar-image]{
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

/* #endregion */